/* Importation depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=GT+Sectra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


body {
    font-family: 'GT Sectra Fine Medium', serif; /* Utilisez le nom de la police fourni par Google Fonts */
    font-weight: normal
}

/* Autres règles CSS pour le style de votre page */


h1 {
    color:gray;
    font-family: 'Crimson Text', serif;
}
img {
    width: auto; /* Définissez la largeur souhaitée */
    height: 200px; /* Laissez la hauteur automatique pour conserver les proportions */
}

.bayou-bulle {
    background-color: hsl(135, 40%, 48%);
    border: 1px solid #2e0e0e;
    padding: 10px;
    border-radius: 8px;
    bottom: 100%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 200px;
}

.bubble::before {
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -10px; /* Ajuster la valeur en fonction de la taille de la pointe */
    border: 10px solid transparent;
    border-top-color: #972b2b;
}